<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title>2016 굿모닝 경기 소통 크리에이터 공모전</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/general.css}" >
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/jquery.scrollTo-min.js}"></script>
    <script th:src="@{/js/layout.js}"></script>

    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<form th:method="post" th:action="@{/update/{num}(num=${num})}" enctype="multipart/form-data">
    <input type="hidden" id="fileId" name="fileId" th:value="${fileId}">

    <div id="wrap">
        <!-- @ CONTAINER -->
        <section id="container" class="sub">
            <!-- @ CONTENTS -->
            <div id="contents">
                <!-- @ SUB TITLE AREA -->
                <div class="sub-title-area">
                    <h2 class="tit">News & Info</h2>
                </div>
                <div class="write_title">
                    <span th:text="${boardListById.subject}"></span>
                </div>
                <div class="write_date">
                    <span class="write_line"><strong>파일번호  :</strong><span th:text="${fileId}"></span> </span>
                    <span class="write_line"><strong>작성자  :</strong><span th:text="${boardListById.nickname}"></span> </span>
                    <span class="write_line"><strong>조회수  :</strong><span th:text="${boardListById.readCount}"></span> </span>
                    <span class="write_line"><span  th:text="${boardListById.regDate}"></span></span>
                    <span><em class="file_icon"></em><a href="#" th:text="${originFileName}"></a></span>

                </div>
                <div class="con_box">
                    <label>
                        <textarea th:text="${boardListById.content}" cols="30" rows="10" style="width:100%"></textarea>
                    </label>
                </div>
                <div class="btn_area">
                    <a th:href="@{/list}" class="btn_blue">목록</a>
<!--                    <a href="javascript: void(0);" th:href="|location.href='@{/update/{num}(num=${num})}'|" class="btn_blue">수정</a>-->
<!--                    id="idSend"-->
                    <button type="submit"  class="btn_blue">수정</button>
                    <button type="button" class="btn_blue">삭제</button>
                </div>
            </div>
            <!-- CONTENTS @ -->
        </section>
        <!-- CONTAINER @ -->
    </div>
</form>

<script>
    let fileId = $("#fileId").val();
    fileId = fileId.toString();

    $.ajax({
        type: "GET",
        data: fileId,
        success: function (data){
            console.log(typeof fileId);
        },
        error: function (){
            console.log("error");
        }
    })
</script>
</body>
</html>